<% if post.live? %>
  <article class="blog_post post" id="<%= dom_id(post) %>">
    <div class="post_header">
      <h3 class="post_title"><%= link_to post.title, refinery.blog_post_path(post) %></h3>
      <div class='post_sub'>
        <%= "#{t('by', :scope => 'refinery.blog.posts.show')} #{post.author.username}" if post.author.present? %>
        |
        <i class="icon-time"></i>
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
          <%= t('created_at', :scope => 'refinery.blog.shared.posts', :when => l(post.published_at.to_date, :format => :short)) %>
        </time>
        |
        <% if Refinery::Blog::Post.comments_allowed? %>
          <i class="icon-comments-alt"></i>
          <% if post.comments.any? %>
             (<%= pluralize(post.comments.approved.count, t('singular', :scope => 'refinery.blog.shared.comments')) %>)
          <% else %>
                (<%= t('none', :scope => 'refinery.blog.shared.comments') %>)
          <% end %>
        <% end %>
      </div>
    </div>
    <section class='clearfix'>
      <% if blog_post_teaser_enabled? %>
        <%= blog_post_teaser(post) %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </section>
    <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post), :class=>"btn btn-primary" if blog_post_teaser_enabled? %>
  </article>
<% end %>
