<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class="<%= yield(:body_class) %>">
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <header id="header">
      <%= render '/refinery/header' -%>
    </header>
    <%= yield(:post_header) %>
    <div id="main">
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <section id="footer_teasers_wrapper">
          <div class="container">
            <div class="row">
              <div class="span4 footer_teaser">
                <!-- footer_column_1 -->
                <%= raw ::Refinery::Setting.get("footer_column_1") %>
              </div>
              <div class="span4 footer_teaser">
                <!-- footer_column_2 -->
                 <%= raw ::Refinery::Setting.get("footer_column_2") %>
              </div>
              <div class="span4 footer_teaser">
                <!-- footer_column_3 -->
                <%= raw ::Refinery::Setting.get("footer_column_3") %>
              </div>
            </div>
          </div>
        </section>
        <section id="copyright">
          <div class="container">
            <div class="row">
              <div class="span6"> Copyright &copy;2013 all rights reserved </div>
              <div class="span6 text-right">
                Designed by <a href="http://www.leonart.gr">leonart</a>
                & developed by <a href="http://wintersolutions.de">wintersolutions</a>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
